h1{
	text-align:center;
}

h2{
	text-align:center;
}

form{
	text-align:center;
}

.awesome{
	text-align:center;
}

.funny{
	text-align:center;
	position:relative;right:70px;
}

.girl{
	text-shadow: 2px 2px 4px #000000;
	-webkit-animation: rainbow 2s infinite;
	position:relative;left:65px;bottom:72px;
}

@-webkit-keyframes rainbow{
	0%{color: red;} 
  	10%{color: blue;} 
  	20%{color: red;}
  	30%{color: blue;}
  	40%{color: red;}
  	50%{color: blue;}
  	60%{color: red;}
  	70%{color: blue;}
 	80%{color: red;}
  	90%{color: blue;}
  	100%{color: red;}
}
