body{
	background-color:black;
	color:white;
	position:relative;left:300px;
}

h1{
	position:relative;left:250px;
}

.funny{
	position:relative;left:282px;
}

.girl{
	background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	position:absolute;left:392px;top:101px;
}

h2{
	overflow: hidden;
	box-sizing: border-box;
 	width: 800px;
}

form{
	position:relative;left:504px;top:30px;
}

.awesome{
	position:relative;left:228px;top:40px;
}